<h2>Produit Details</h2> 

<hr/>
<div *ngIf="produit">
  <div> 
    <label><b>Nom du Produit: </b></label> {{produit.nameproduit}}
  </div>
  <div>
    <label><b>Description: </b></label> {{produit.description}}
  </div>
  <div>
    <label><b>Quantite: </b></label> {{produit.quantite}}
  </div>
  <div>
    <label><b>Prix: </b></label> {{produit.prix}} Euro
  </div>
  <div>
    <label><b>Prix Total: </b></label> {{produit.prix*produit.quantite}} Euro
  </div>

</div>

<br>
<br>
<button (click)="listP()" class="btn btn-primary">Retour</button><br>


