<div class="panel panel-primary" >
  <div class="panel-heading">
    <h2>Liste de Produits</h2>
  </div>
  <div class="panel-body"  >
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nom Du Produit</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produit of produits | async">
          <td>{{produit.nameproduit}}</td>
          <td>{{produit.description}}</td>
          <td>
              <button (click)="produitDetails(produit.id)" class="btn btn-info" style="margin-left: 10px;margin-top: 10;">Detail</button>
              <button (click)="updateProduit(produit.id)" class="btn btn-info" style="margin-left: 10px;margin-top: 10;">Mise A Jour</button>
              <button (click)="deleteProduit(produit.id)" class="btn btn-danger" style="margin-left: 10px;margin-top: 10;">Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

